/Tabla con base de datos y login/build/
/Tabla con base de datos y login/dist/
/Tabla/Tabla con base de datos y login/build/
/Tabla/Tabla con base de datos y login/nbproject/private/
/Rocola/MySpotify/build/
/Rocola/MySpotify/dist/
/Rocola/MySpotify/nbproject/private/