/Tabla con base de datos y login/build/
/Tabla con base de datos y login/dist/
/Tabla/Tabla con base de datos y login/build/
/Tabla/Tabla con base de datos y login/nbproject/private/
/Rocola/MySpotify/build/
/Rocola/MySpotify/dist/
/Rocola/MySpotify/nbproject/private/
/Tópicos Avanzados de Programación/Memorama/Memorama/nbproject/private/
/Tópicos Avanzados de Programación/Editor de texto/Editor de texto/nbproject/private/
/Tópicos Avanzados de Programación/Memorama/Memorama/build/
/Tópicos Avanzados de Programación/Editor de texto/Editor de texto/build/